 <!-- <mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>account_balance</mat-icon>
  </button>
  <span class="title">MyBank</span>
  <span class="spacer"></span>

  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/accounts">Accounts</button>
  <button mat-button routerLink="/payments">Payments</button>
  <button mat-button routerLink="/audit">Audit</button>
  <button mat-button routerLink="/notifications">Notifications</button>
  <button mat-button routerLink="/login">Login</button>
</mat-toolbar>  -->
 <!-- <mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Banking Application</span>
  <span class="spacer"></span>
  <button mat-raised-button color="warn" routerLink="/signup">SIGNUP</button>
  <button mat-raised-button color="accent" routerLink="/login">LOGIN</button>
</mat-toolbar> -->


